/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #3f51b5;
}
li:hover {
  background-color: rgba(61, 91, 246, 0.1);
}
li {
  padding: 0 7px;
}
